* {
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    @media all and (max-width: 35rem) {
        justify-content: space-evenly;
        flex-direction: column;
    }
    nav {
        width: 60%;
        height: auto;
        @media all and (max-width: 35rem) {
            width: 100%;
        }
        ul {
            width: 100%;
            height: auto;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            @media all and (max-width: 35rem) {
                flex-direction: column;
                padding: 0;
            }
            li {
                padding: 10px;
                @media all and (max-width: 35rem) {
                    background-color: black;
                    padding: 20px;
                    text-align: center;
                    border-bottom: 1px #ccc;
                    border-bottom-style: groove;
                }
                a:link {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    @media all and (max-width: 35rem) {
                        padding: 10px 0;
                    }
                    
                }
            }
        }
    }

    .social {
        width: 30%;
        height: auto;

        ul {
            width: auto;
            height: auto;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li {
                padding: 10px;
            }
            
        }
    }
}


main {
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin: 0 0 8rem 0;
    @media all and (max-width: 35rem) {
        flex-direction: column;
        padding: 0;
        margin-bottom: 2rem;
    }
    .hero {
        background-image: url(../../images/Asset8.png);
        background-size: cover;
        background-position: center;
        width: 1200px;
        height: 700px;
        display: flex;
        justify-content: center;
        @media all and (max-width: 35rem) {
            width: 100vw;
            height: 700px;
        }
        h1 {
            padding-top: 20px;
            font-size: 100px;
            @media all and (max-width: 35rem) {
                font-size: 45px;
            }
        }
    }
    
}




footer {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media all and (max-width: 35rem) {
        flex-direction: column;
        height: 100%;
    }
}

footer .copy {
    padding: 0 20px;
}

footer .bottom-nav {
    width: 50%;
    @media all and (max-width: 35rem) {
       width: 100%;
    }
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    li {
        @media all and (max-width: 35rem) {
            width: calc(100% / 4);
         } 
    }
}

.bottom-nav ul li a:link {
    text-decoration: none;
    color: #a2a2a2;
    text-transform: capitalize;
}

.copy p {
    color: #A2A2A2;
}

.about-main {
    margin: 1rem auto;
    padding: 0;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media all and (max-width: 35rem) {
        width: 100%;
        margin: 0;
    }
    .left {
        width: 50%;
        height: auto;
        padding: 30px;
        @media all and (min-width: 60rem) {
            width: 35%;
        }

        img {
            width: 100%;
        }
        @media all and (max-width: 35rem) {
            width: 100%;
            height: 400px;
            overflow: hidden;
        }
        
    }
    .right {
        width: 50%;
        height: auto;
        padding: 0 1rem;
        // display: flex;
        // flex-direction: column;
        @media all and (max-width: 35rem) { 
            width: 100%;
        }
        h1 {
            height: 30%;
            width: 100%;
            text-align: center;
            margin: 2rem 0;
        }
        p {
            font-size: 0.67rem;
            margin: 5px auto;
            padding: 10px 0;
            text-align: justify;
            @media all and (min-width: 35rem) {
                font-size: 1rem;
            }
            @media all and (min-width: 60rem) {
                font-size: 1.1rem;
            }
        }
    }
}






input[type=text] {
    width: calc(50% - 4px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #F2F2F2;
}

.message-area {
    position: relative;
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        background-color: #F2F2F2;
    }
    input[type=send] {
        background-color: #939292;
        color: black;
        padding: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 10px;   
        text-align: center;
    }

}


#compname {
    width: 100%;
}

input[type=send]:hover {
    background-color: white;
}

#contact main {
    display: flex;
    justify-content: flex-start;
    margin: 3em 0;
    @media all and (max-width: 35rem) {
        flex-direction: column; 
    }
    h2 {
        text-align: center;
        width: 100%;
        height: 5%;
        margin: 10px 0;
    }
    .container {
        border-radius: 5px;
        background-color: #FFFFFF;
        padding: 20px;
        width: 60%;
        @media all and (max-width: 35rem) {
            width: 100%;
        }
    }
    $primary-color: #000000; // here is where I tried to change the sass color
    .container2 {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 40%;
    height: 50%;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media all and (max-width: 35rem) {
        width: 100%;
    }
    span {
        display: block;
        text-align: center;

        img {
            width: 20px;
            margin: 0 10px;
        }
    }
    
    }
}

#index main {
    height: 83vh; 
}

.portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 8.5rem 0;
    @media all and (max-width: 35rem) {
        margin: 0;
        flex-direction: column;
    }
    .section {
        width: calc(100% / 4);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media all and (max-width: 35rem) {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
        }
        .picture1 {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .picture2 {
            width: 35%;
            img {
                width: 100%;
            }
        }

        .picture3 {
            width: 50%;
           
        }

        .picture4 {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }

    p {
        text-align: center;
        background-color: #000000;
        color: white;
        padding: 15px 5px;
        text-transform: uppercase;
    }
}

